.jumbotron {
  background-color: #fff;
  margin: 0;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.media-body {
  line-height: 1.15;
}
.card {
  margin-bottom: 15px;
}
.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}
.card-img-right {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  float: right;
  padding-left: 1em;
  margin-bottom: -1.25em;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-card-plus {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.product-price {
  position: absolute;
  bottom: 15px;
}
#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: .85rem;
    -moz-column-gap: .85rem;
    column-gap: .85rem;
  }
}
.fix-cart {
  padding-right: 0rem;
  padding-left: 0rem;
}
@media (min-width: 992px) {
  .fix-cart {
    position: fixed;
    top: 0;
    max-width: 300px;
    padding-right: 2.8rem;
    padding-left: 0rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .fix-cart {
    position: fixed;
    top: 0;
    max-width: 255px;
  }
}
.row.no-gutter [class*='col-'] {
  padding-right: .45rem;
  padding-left: .45rem;
}
/* remove spacing between middle columns */
/*
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right: .45rem;
  padding-left: .45rem;
}
*/
/* remove right padding from first column */
/*
.row.no-gutter [class*='col-']:first-child {
  padding-right: .45rem;
}
*/
/* remove left padding from first column */
/*
.row.no-gutter [class*='col-']:last-child {
  padding-left: .45rem;
}
*/
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*
.carousel {
  margin-bottom: 4rem;
}
*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 28rem;
  background-color: #777;
}
.carousel-item > img {
  max-width: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  top: 0;
  min-width: 100%;
  height: 28rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.absolute-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.no-mobile {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 767px) {
  .no-mobile {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile h2 {
    font-size: 1.5rem;
  }
  .mobile p {
    font-size: 0.8rem;
  }
  .mobile img {
    position: relative;
    top: -6.75rem;
    /* border: .5rem solid white; */
  }
  .carousel-item > img {
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: 128px;
    min-width: 100%;
    height: 20rem;
  }
  .mobile-content-top {
    margin-top: 205px;
  }
  .absolute-top {
    z-index: 0;
  }
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.box-clickble {
  cursor: pointer;
}

#mobCart {
  z-index: 9999;
}
