{% extends "shop/base.html" %}
{% load bootstrap4 %}

{% block title %}
  Checkout
{% endblock %}

{% block header %}
  {% include 'shop/header-soft.html' %}
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Confira seu pedido</span>
        <span class="badge badge-secondary badge-pill">
          {# call __len__ #}
          {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            {{ total_items }}
          {% else %}
            0
          {% endif %}
          {% endwith %}
        </span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in cart %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ item.product.name }}</h6>
            <small class="text-muted">
              * {{ item.product.unity }}<br>
              x {{ item.quantity }}
            </small>
          </div>
          <span class="text-muted">R$ {{ item.total_price }}</span>
        </li>
        {% endfor %}
        {% comment %} <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Frete</h6>
          </div>
          <span class="text-muted">R$ 5</span>
        </li> {% endcomment %}
        {% comment %} <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Cupom</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-R$ 5</span>
        </li> {% endcomment %}
        <li class="list-group-item d-flex justify-content-between">
          <span><strong>Total</strong></span>
          <strong>R$ {{ cart.get_total_price }}</strong>
        </li>
      </ul>

      {% comment %} <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cupom">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Inserir</button>
          </div>
        </div>
      </form> {% endcomment %}
    </div>

    <!-- FORM -->
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Informações do pedido</h4>
      <form action="." method="POST" class="needs-validation" novalidate="">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field form.first_name placeholder='Primeiro nome' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.last_name placeholder='Último nome' %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field form.phone placeholder='00900009999' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.email placeholder='nome@email.com' %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            {% bootstrap_field form.postal_code placeholder='55297000' %}
          </div>
          <div class="col-md-9">
            {% bootstrap_field form.address placeholder='Av. Rui Barbosa' %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            {% bootstrap_field form.number placeholder='818' %}
          </div>
          <div class="col-md-9">
            {% bootstrap_field form.address2 placeholder='Apartamento, sala, ponto de referência' %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            {% bootstrap_field form.district %}
          </div>
          <div class="col-md-4">
            {% bootstrap_field form.city %}
          </div>
          <div class="col-md-4">
            {% bootstrap_field form.state %}
          </div>
        </div>
        <div class="mb-3">
          {% bootstrap_field form.extra placeholder='Observações sobre o pedido' %}
        </div>

        {% comment %} <div class="row">
          <div class="col-md-6 mb-3">
            <label for="id_first_name">Primeiro Nome</label>
            <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="" value="{{ request.user.first_name }}" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="id_last_name">Último Nome</label>
            <input type="text" class="form-control" id="id_last_name" placeholder="" value="{{ request.user.first_name }}" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="id_email">Email</label>
          <input type="email" class="form-control" id="id_email" placeholder="you@example.com" value="{{ request.user.email }}" required>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="id_address">Endereço</label>
          <input type="text" class="form-control" id="id_address" placeholder="Av. Rui Barbosa, 818" value="" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="id_address2">Complemento <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="id_address2" placeholder="Apartamento, sala, ponto de referência">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="id_city">Cidade</label>
            <select class="custom-select d-block w-100" id="id_city" required>
              <option value="">Selecione...</option>
              <option value="Garanhuns" selected>Garanhuns</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="id_state">Estado</label>
            <select class="custom-select d-block w-100" id="id_state" required>
              <option value="">Selecione...</option>
              <option value="PE" selected>Pernambuco</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="id_zip">CEP</label>
            <input type="text" class="form-control" id="id_zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div> {% endcomment %}

        {% comment %} <hr class="mb-4">

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info" checked>
          <label class="custom-control-label" for="save-info">Salvar essas informações para próxima vez</label>
        </div> {% endcomment %}

        <hr class="mt-4 mb-4">

        <h4 class="mb-3">Forma de pagamento</h4>

        <div id="paymentMethod" class="d-block my-3 mb-4">
          {% for radio in form.payment %}
            <div id="{{ radio.choice_label|lower }}" class="custom-control custom-radio">
              {{ radio.tag }}
              <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
            </div>
          {% endfor %}

          <div id="change_group" style="display: none">
            <hr class="mt-4 mb-4">

            <div class="row">
              <div class="col-md-6">
                {% bootstrap_field form.change placeholder='0,00' %}
              </div>
              <div class="col-md-6 d-flex align-items-end mb-4">
                <div class="custom-control custom-checkbox">
                  {{ form.no_change }}
                  <label class="custom-control-label" for="{{ form.no_change.id_for_label }}">{{ form.no_change.label }}</label>
                </div>
              </div>
            </div>
          </div>

        </div>

        {% comment %} <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div> {% endcomment %}
        {% comment %} <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div> {% endcomment %}

        <hr class="mb-4">

        {% comment %} <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> {% endcomment %}
        {% bootstrap_button 'Concluir Pedido' button_type='submit' button_class='btn-success' extra_classes='btn-lg btn-block btn-product' size='lg' %}
      </form>
    </div>
  </div>

    {% comment %} <div class="panel panel-primary">
        <div class="panel-heading">Your order</div>
        <div class="panel-body">
            <ul class="list-group">
                {% for item in cart %}
                    <li class="list-group-item">
                        ${{ item.total_price }}
                        <span class="badge">{{ item.product.name }} x{{ item.quantity }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Total: ${{ cart.get_total_price }}</p>

        </div>
    </div> {% endcomment %}

    {% comment %} <h1>Checkout</h1>
    <form action="." method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-success btn-product">
          <span class="glyphicon glyphicon-shopping-cart"></span> Place order
        </button>
      {% endbuttons %}
    </form> {% endcomment %}

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>
    $( document ).ready( function() {
      var first_name = $( '#id_first_name' )
      var last_name = $( '#id_last_name' )
      var email = $( '#id_email' )
      var address = $( '#id_address' )
      var address2 = $( '#id_address2' )
      var city = $( '#id_city' )
      var postal_code = $( '#id_postal_code' )

      /*
      if ( !first_name.val() ) {
        first_name.val( "{{ request.user.first_name }}" );
      }
      if ( !last_name.val() ) {
        last_name.val( "{{ request.user.last_name }}" );
      }
      if ( !email.val() ) {
        email.val( "{{ request.user.email }}" );
      }
      */
      {% if order %}
      if ( !first_name.val() ) {
        first_name.val( "{{ order.first_name }}" );
      }
      if ( !last_name.val() ) {
        last_name.val( "{{ order.last_name }}" );
      }
      if ( !email.val() ) {
        email.val( "{{ order.email }}" );
      }
      if ( !address.val() ) {
        address.val( "{{ order.address }}" );
      }
      if ( !address2.val() ) {
        address2.val( "{% if order.address2 %}{{ order.address2 }}{% endif %}" );
      }
      if ( !city.val() ) {
        city.val( "{{ order.city }}" );
      }
      if ( !postal_code.val() ) {
        postal_code.val( "{{ order.postal_code }}" );
      }
      {% endif %}
    });

    $('#paymentMethod').click(function() {
      $('#change_divisor').css('display', 'none');
      $('#change_group').css('display', 'none');
      //$('#Dinheiro').click(function() {
        if($('#dinheiro>input').is(':checked')) {
          $('#change_divisor').css('display', 'block');
          $('#change_group').css('display', 'block');
        }
      //});
    });
  </script>
{% endblock extra_js %}
