{% load static bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  </head>

  <body class="bg-light">
    <!-- As a link -->
    {% block header %}
    {% endblock header %}

    <main role="main">
      {% block banner %}
      {% endblock banner %}

      <div class="py-5">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>

    {% comment %} <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          {# call __len__ #}
          {% with total_items=cart|length %}
            {% if cart|length > 0 %}
              Your cart:
              <a href="{% url "cart:cart_detail" %}">
                {# If total_items is 1, the output will be 1 item. #}
                {# If total_items is 2, the output will be 2 items. #}
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
              </a>
            {% else %}
              Your shopping cart is empty.
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div> {% endcomment %}

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'assets/js/ajax-csrf.js' %}"></script>
    {% bootstrap_javascript %}

    <script>
      feather.replace()
    </script>

    {% block extra_js %}
    {% endblock extra_js %}

  </body>
</html>
