{% load static bootstrap4 %}

<nav class="navbar navbar-expand-md navbar-light bg-white rounded-bottom shadow">
  <div class="container">
    <a class="navbar-brand" href="{% url 'shop:product_list' store.slug %}">
      <img class="mr-3 rounded" src="{{ store.logo.url }}" alt="Logo" height="50">
      {% comment %} <b>Empório Gamboa</b> {% endcomment %}
    </a>
    {% comment %} <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Produtos</a>
      </li>
    </ul> {% endcomment %}

    {% comment %} {% if user.is_authenticated %}
    Olá, {% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}.
    {% endif %} {% endcomment %}

    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}

    {% comment %} <div class="collapse navbar-collapse" id="navbarsExampleDefault"> {% endcomment %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'sign-out' %}?next={{request.path}}">
            <i data-feather="user"></i>
            {{ user.username }}
          </a>
          {% else %}
          <a class="nav-link" href="{% url 'sign-in' %}?next={{request.path}}">
            <i data-feather="user"></i>
            Faça login ou cadastre-se
          </a>
          {% endif %}
        </li>
        {% comment %} {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i data-feather="user"></i>
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'sign-out' %}">Sair</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="btn btn-success" href="{% url 'sign-in' %}">Faça login ou cadastre-se</a>
        </li>
        {% endif %} {% endcomment %}
      </ul>
    {% comment %} </div> {% endcomment %}
  </div>
</nav>





{% comment %} <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> {% endcomment %}
