{% load static bootstrap4 %}

<!-- web -->
<div class="container absolute-top no-mobile">
  <div class="media bg-white p-3 rounded-bottom box-shadow">
    <img class="mr-3" src="{{ store.logo.url }}" alt="Logo" height="130">
    <div class="media-body">
      <h2 class="mt-0">
        <b>{{ store.name }}</b>
        <small class="pull-right">
          <i class="fa fa-whatsapp"></i>
          <a href="https://wa.me/55{{ store.phone }}" class="text-dark" target="_blank">
            {{ store.phone }}
          </a>
        </small>
      </h2>
      <p>{{ store.address }}, {% if store.address2 %}{{ store.address2}}, {% endif %}{{ store.city }}-{{ store.state }}</p>
      <div class="row">
        {% if store.delivery_time %}
        <div class="col-md-4">
          <small class="text-muted">Tempo de espera</small>
          <p>{{ store.delivery_time }}</p>
        </div>
        {% endif %}
        <div class="col-md-4">
          <small class="text-muted">Taxa de entrega</small>
          <p>{% if store.tax %}R$ {{ store.tax }}{% else %}Grátis{% endif %}</p>
        </div>
        <!-- <div class="col-md-4"> -->
        <!--   <!-1- <small class="text-muted">Aberto <i class="fa fa-circle text-success"></i></small> -1-> -->
        <!--   <small class="text-muted">Funcionamento</small> -->
        <!--   <p>07:00 às 19:00</p> -->
        <!-- </div> -->
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="" data-feather="user"></i>
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'sign-out' %}?next={{request.path}}">Sair</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="btn btn-light" href="{% url 'sign-in' %}?next={{request.path}}">Entrar</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<!-- mobile --> 
<div class="absolute-top text-center mobile">
  <div class="bg-white col-12 p-3 ">
    <h2 class="mt-0">
      <b>{{ store.name }}</b>
    </h2>
    <p class="mb-1">
      {{ store.address }}, {% if store.address2 %}{{ store.address2}}, {% endif %}{{ store.city }}-{{ store.state }}
      <br>
      <i class="fa fa-whatsapp"></i>
      <a href="https://wa.me/55{{ store.phone }}" class="text-dark" target="_blank">
        {{ store.phone }}
      </a>
    </p>
    <!-- <p class="mb-1 text-muted"><i class="fa fa-circle text-success"></i> Aberto <i class="fa fa-chevron-down"></i></p> -->
    <div class="row mb-4">
      {% if store.delivery_time %}
      <div class="col-6">
        <small class="text-muted">Tempo de espera</small>
        <p>{{ store.delivery_time }}</p>
      </div>
      {% endif %}
      <div class="col-6">
        <small class="text-muted">Taxa de entrega</small>
        <p>{% if store.tax %}R$ {{ store.tax }}{% else %}Grátis{% endif %}</p>
      </div>
    </div>
  </div>

  <div class="d-flex bd-highlight">
    <div class="ml-auto p-2 bd-highlight">
      {% if user.is_authenticated %}
      <div class="dropdown">
        {% comment %} dropdown-toggle {% endcomment %}
        <button class="btn btn-light"
          type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="" data-feather="user"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'sign-out' %}">Sair</a>
        </div>
      </div>
      {% else %}
        <a class="btn btn-light" href="{% url 'sign-in' %}" role="button">Entrar</a>
      {% endif %}
    </div>
  </div>
  <img class="bg-white p-2 rounded" src="{{ store.logo.url }}" alt="Logo" height="100">

</div>
