{% extends "shop/base.html" %}
{% load static bootstrap4 %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Produtos{% endif %}
{% endblock %}

{% block header %}
{% include 'shop/header-shop.html' %}
{% endblock header %}

{% block banner %}
<div id="myCarousel" class="carousel slide no-mobile" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for banner in banners %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active"
      {% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for banner in banners %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}">
      <img src="{{ banner.image.url }}" alt="{{ banner.title }}">
      <div class="container">
        <div class="carousel-caption text-left">
          {% if banner.title %}<h1>{{ banner.title }}</h1>{% endif %}
          {% if banner.body %}<p>{{ banner.body }}</p>{% endif %}
          {% if banner.button %}<p><a class="btn btn-lg btn-primary" href="#" role="button">{{ banner.button }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% comment %} <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a> {% endcomment %}
</div>
{% comment %} <section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc.
      Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section> {% endcomment %}
{% endblock banner %}


{% block content %}

<div class="row mobile-content-top">
  {% if request.GET.search %}
  <div class="col-md-12 mb-4">
    <h3>
      Você buscou por:<br>
      <small>{{ request.GET.search }}</small>
    </h3>
  </div>
  {% endif %}
  <div class="col-md-6">
    <div class="dropdown mt-1 mb-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {% if category %}{{ category.name }}{% else %}Categorias{% endif %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'shop:product_list' store.slug %}">Todas</a>
        {% for c in categories %}
        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="custom-search-input">
      <form id="form-search" action="." method="GET">
        <div class="input-group">
          <input id="search" name="search" type="text" class="form-control input-lg" placeholder="Buscar"
            {% if request.GET.search %}value="{{ request.GET.search }}" {% endif %} />
          <span class="input-group-btn">
            {% if request.GET.search %}
            <button class="btn btn-default btn-lg" type="button"
              onclick="window.location.href = '{% url 'shop:store_list' %}';">
              <i class="fa fa-close"></i>
            </button>
            {% else %}
            <button class="btn btn-default btn-lg" type="button">
              <i class="fa fa-search"></i>
            </button>
            {% endif %}
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  {% if products %}
  <div class="col-lg-9">
    {% comment %} <h2>{% if category %}{{ category.name }}{% else %}Produtos{% endif %}</h2> {% endcomment %}

    {% comment %} <div class="row">
      <div class="col-md-6">
        <div class="dropdown mt-1 mb-3">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {% if category %}{{ category.name }}{% else %}Categorias{% endif %}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'shop:product_list' store.slug %}">Todas</a>
            {% for c in categories %}
            <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="custom-search-input">
          <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Buscar" />
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="row no-gutter px-2">
      {% regroup products by category as category_list %}
      {% for category in category_list %}
      <div class="col-sm-12">
        <h4 class="mt-3 mb-3">{{ category.grouper }}</h4>
      </div>
      {% for product in category.list %}
      <div class="col-md-6 d-flex">
        <div class="card box-shadow flex-fill w-100">
          <div class="card-body p-2">
            <div class="media">
              <div class="media-body p-1">
                <h5 class="mt-0 mb-1">{{ product.name }}</h5>
                <div class="pb-3">
                  <small class="text-muted">
                    <strong>* {{ product.get_unity_display }}</strong><br>
                    {{ product.description }}
                  </small>
                </div>
                <span class="product-price">
                  <strong>R$ {{ product.price }}</strong>
                </span>
                <form action="{% url 'cart:cart_add' product.id %}" method="POST" id="form-add-cart">
                  {% csrf_token %}
                  {% bootstrap_form cart_product_form %}
                  {% buttons %}
                  <button type="submit" class="btn btn-success btn-product btn-circle btn-card-plus">
                    <span class="fa fa-plus"></span>
                  </button>
                  {% endbuttons %}
                </form>
              </div>
              <img class="media-right align-middle ml-3 rounded"
                src="{% if product.image %}{{ product.image.url }}{% elif product.image_url %}{{ product.image_url }}{% else %}{% static 'assets/img/no_image.png' %}{% endif %}"
                alt="..." width="130">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <a id="mobCart" href="{% url 'orders:order_create' store.slug %}" class="p-2 btn btn-success btn-block mobile"
    style="position: fixed; bottom: 0; border-radius: 0;">
    <div class="row">
      <div id="mobTot" class="col-6 text-left">
        R$ {{ cart.get_total_price }}
      </div>
      <div class="col-6 text-right">
        Fechar Pedido
      </div>
    </div>
  </a>

  <div id="colCart" class="col-lg-3 order-md-2 mb-4 no-mobile">
    <div id="sideCart">
      <h4 class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <span>Meu Carrinho</span>
        <span id="itemsCart" class="badge badge-secondary badge-pill">
          {# call __len__ #}
          {% with total_items=cart|length %}
          {% if cart|length > 0 %}
          {{ total_items }}
          {% else %}
          0
          {% endif %}
          {% endwith %}
        </span>
      </h4>

      {% comment %} {% for item in cart %}
      {% with product=item.product %}
      <div class="media mb-1">
        <div class="media-left">
          <div class="media-object rounded vue-logo">

          </div>
        </div>
        <div class="media-body">
          <strong class="d-block">{{ product.name }}</strong>
          <span class="text-muted">x {{ item.quantity }}</span><span> - R$ {{ item.total_price }}</span>
        </div>
        <div class="media-right align-middle">
          <a href="{% url "cart:cart_remove" product.id %}" class="close text-danger">×</a>
        </div>
      </div>
      {% endwith %}
      {% endfor %} {% endcomment %}

      <ul id="myCart" class="list-group mb-3">
        {% for item in cart %}
        {% with product=item.product %}
        <li id="prodCart_{{ product.id }}" class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ product.name }}</h6>
            <small class="text-muted">
              * {{ product.unity }}<br>
              x{{ item.quantity }} - R$ {{ item.total_price }}
            </small>
          </div>
          <span id="removeCart" class="text-muted">
            <button id="removeItem_{{ product.id }}" type="submit"
              class="btn btn-outline-danger btn-sm btn-circle delete_button">
              <span class="fa fa-minus"></span>
            </button>
          </span>
        </li>
        {% endwith %}
        {% endfor %}
        {% comment %} <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Frete</h6>
          </div>
          <span class="text-muted">R$ 5</span>
        </li> {% endcomment %}
        {% comment %} <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Cupom</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-R$ 5</span>
        </li> {% endcomment %}
        <li class="list-group-item d-flex justify-content-between">
          <span><strong>Total</strong></span>
          <strong id="totalCart">R$ {{ cart.get_total_price }}</strong>
        </li>
      </ul>

      {% comment %} <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cupom">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Inserir</button>
          </div>
        </div>
      </form> {% endcomment %}

      <a href="{% url 'orders:order_create' store.slug %}" class="btn btn-success btn-block">
        Fechar Pedido <i class="glyphicon glyphicon-play" aria-hidden="true"></i>
      </a>


      {% comment %} {# call __len__ #}
      {% with total_items=cart|length %}
      {% if cart|length > 0 %}
      Seu Carrinho:
      <a href="{% url "cart:cart_detail" %}">
        {# If total_items is 1, the output will be 1 item. #}
        {# If total_items is 2, the output will be 2 items. #}
        {{ total_items }} item{{ total_items|pluralize }},
        ${{ cart.get_total_price }}
      </a>
      {% else %}
      Your shopping cart is empty.
      {% endif %}
      {% endwith %} {% endcomment %}
    </div>
  </div>
  {% else %}
  <div class="col-12 mt-3">Nenhum produto encontrado.</div>
  {% endif %}
</div>

{% include 'app/pagination.html' with page_obj=products %}

<!-- Modal -->
<div class="modal fade" id="getResultsModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Obrigado</h4>
      </div>
      <div id="getResults" class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
  $(document).ready(function () {
    var colCart = $('#colCart').offset().top
    var sideCart = $('#sideCart')

    $(window).on('scroll', function () {
      var scrollTop = $(this).scrollTop();

      if ((scrollTop) > colCart) {
        sideCart.addClass('fix-cart col-lg-3 order-md-2');
      } else {
        sideCart.removeClass('fix-cart col-lg-3 order-md-2');
      }
    });
  });

  // Remove element
  $('#myCart').on('click', '.delete_button', function (event) {
    event.preventDefault();
    //console.log("remove cart!");  // sanity check
    var id = this.id;
    var split_id = id.split("_");
    var deleteindex = split_id[1];
    remove_cart(deleteindex);
  });

  function remove_cart(id) {
    //console.log(form.attr("action"));
    //console.log(form.serialize());
    //console.log(form.attr("method"));
    $.ajax({
      url: '/cart/remove/' + id + '/',
      method: 'GET',
      success: function (data) {
        var totCart = '<strong id="totalCart">R$ ' + data.total_price + '</strong>'
        var itemsCart = '<span id="itemsCart" class="badge badge-secondary badge-pill">' + data.total_items + '</span>'

        //console.log(data);

        setTimeout(function () {
          $("#prodCart_" + id).remove();
          $('#totalCart').replaceWith(totCart)
          $('#itemsCart').replaceWith(itemsCart)
        }, 100);

        //alert("Remove");
      },
      // handle a non-successful response
      error: function (xhr, errmsg, err) {
        alert("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
        //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
    return false;
  };

  // Submit email on submit
  $('.media-body').on('submit', '#form-add-cart', function (event) {
    event.preventDefault();
    //console.log("form submitted!");  // sanity check
    add_cart($(this));
  });

  function add_cart(form) {
    //console.log(form.attr("action"));
    //console.log(form.serialize());
    //console.log(form.attr("method"));
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        var totCart = '<strong id="totalCart">R$ ' + data.total_price + '</strong>'
        var itemsCart = '<span id="itemsCart" class="badge badge-secondary badge-pill">' + data.total_items + '</span>'
        var itemCart = '' +
          '<li id="prodCart_' + data.product_id + '" class="list-group-item d-flex justify-content-between lh-condensed">' +
          '<div>' +
          '<h6 class="my-0">' + data.product_name + '</h6>' +
          '<small class="text-muted">' +
          'x' + data.quantity + ' - R$ ' + data.quantity * data.price + '' +
          '</small>' +
          '</div>' +
          '<span id="removeCart" class="text-muted">' +
          '<button id="removeItem_' + data.product_id + '" type="submit" class="btn btn-outline-danger btn-sm btn-circle delete_button">' +
          '<span class="fa fa-minus"></span>' +
          '</button>' +
          '</span>' +
          '</li>'
        $('#mobTot').text('R$ ' + data.total_price);
        //console.log(data);

        setTimeout(function () {
          if ($('#prodCart_' + data.product_id).length > 0) {
            $('#prodCart_' + data.product_id).replaceWith(itemCart)
          } else {
            $('#myCart').prepend(itemCart)
          }
          $('#totalCart').replaceWith(totCart)
          $('#itemsCart').replaceWith(itemsCart)
        }, 100);

        //$("#book-table tbody").html(data.html_book_list);  // <-- Replace the table body
        //`$("#modal-book").modal("hide");  // <-- Close the modal
        //alert("Add");
      },
      // handle a non-successful response
      error: function (xhr, errmsg, err) {
        alert("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
        //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
    return false;
  };
</script>
{% endblock extra_js %}
