{% extends "shop/base.html" %}
{% load staticfiles bootstrap4 %}

{% block title %}
    {{ stores.0.name }}
{% endblock %}

{% block header %}
    {% comment %} <header> {% endcomment %}
      {% comment %} <div class="collapse bg-warning" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre</h4>
              <p class="text-muted">Add some information about the Peça Delivery below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contato</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
      {% comment %} <div class="navbar navbar-light bg-warning box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <i data-feather="shopping-bag" style="width: 24px; height: 24px; margin-right: 5px;"></i>
            <strong>Peça Delivery</strong>
          </a> {% endcomment %}
          {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> {% endcomment %}
        {% comment %} </div>
      </div> {% endcomment %}
    {% comment %} </header> {% endcomment %}
{% endblock header %}

{% block banner %}
  <section class="jumbotron text-center">
    <div class="container">
      {% comment %} <img class="mb-4 rounded" src="{{ stores.0.logo.url }}" alt="{{ stores.0.name }}" height="130"> {% endcomment %}
      <h1 class="jumbotron-heading">{{ client.name }}</h1>
      <p class="lead text-muted">Peça delivery na loja mais perto de você.</p>
      {% comment %} <p>
        <a href="#" class="btn btn-success my-2">Criar minha loja</a>
      </p> {% endcomment %}
    </div>
  </section>
{% endblock banner %}


{% block content %}
  <div class="row mx-5">
    {% for store in stores %}
    <div class="col-md-6 d-flex">
      <div class="card box-shadow flex-fill w-100 box-clickble">
        <div class="card-body p-2">
          <div class="media">
            <div class="media-body p-1">
              <h5 class="mt-0 mb-2 text-uppercase">{{ store.name }}</h5>
              <p class="mt-2 mb-2">{{ store.address }}</p>
              <div class="pb-2">
                <small class="text-muted">{{ store.city }}</small>
              </div>
            <a href="{{ store.slug }}" class="btn btn-sm btn-success" style="display: none">Fazer meu pedido</a>
            </div>
            <img class="media-right align-middle ml-3 rounded"
              src="{{ store.logo.url }}" alt="Logo {{ store.name }}" width="100">
          </div>
        </div>
      </div>
    </div>

    {% comment %} <div class="col-md-3">
      <div class="card mb-4 box-shadow box-clickble">
        <img class="card-img-top" src="{{ store.logo.url }}" alt="{{ store.name }}">
        <div class="card-body">
          <p class="card-text">{{ store.name }}</p>
          <a href="{{ store.slug }}" class="btn btn-sm btn-success">Fazer meu pedido</a>
        </div>
      </div>
    </div> {% endcomment %}
    {% endfor %}
  </div>
{% endblock content %}

{% block extra_js %}
  {{ block.super }}
  <script>
    $(".box-clickble").click(function() {
      window.location = $(this).find("a").attr("href");
      return false;
    });
  </script>
{% endblock extra_js %}
