{% extends "shop/base.html" %}

{% block header %}
  {% include 'shop/header-soft.html' %}
{% endblock header %}

{% block content %}
    {% comment %} <h1>Your payment was successful</h1> {% endcomment %}
    <h1>Pedido número #{{ order }}.</h1>
    <!-- <h1>Seu pedido foi realizado com sucesso</h1> -->
    {% comment %} <p>Your payment has been successfully received.</p> {% endcomment %}
    <h3>Seu pedido foi recebido com sucesso.</h3>
    <a href="{% url 'shop:store_list' %}" class="btn btn-dark">Voltar para o início</a>
{% endblock %}
