{% load static bootstrap4 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  </head>

  <body>
    <h1>Peça Delivery</h1>
    {% comment %} <!-- As a link -->
    {% block header %}
    {% endblock header %}

    <main role="main">
      {% block banner %}
      {% endblock banner %}

      <div class="py-5 bg-light">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main> {% endcomment %}

    {% comment %} <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          {# call __len__ #}
          {% with total_items=cart|length %}
            {% if cart|length > 0 %}
              Your cart:
              <a href="{% url "cart:cart_detail" %}">
                {# If total_items is 1, the output will be 1 item. #}
                {# If total_items is 2, the output will be 2 items. #}
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
              </a>
            {% else %}
              Your shopping cart is empty.
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div> {% endcomment %}

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% bootstrap_javascript %}

    <script>
      feather.replace()

      // Remove element
      $('#myCart').on('click','.delete_button',function(event){
        event.preventDefault();
        //console.log("remove cart!");  // sanity check
        var id = this.id;
        var split_id = id.split("_");
        var deleteindex = split_id[1];
        remove_cart(deleteindex);
      });

      function remove_cart(id) {
        //console.log(form.attr("action"));
        //console.log(form.serialize());
        //console.log(form.attr("method"));
        $.ajax({
          url: '/cart/remove/'+ id +'/',
          method: 'GET',
          success: function (data) {
            var totCart = '<strong id="totalCart">R$ '+ data.total_price +'</strong>'
            var itemsCart = '<span id="itemsCart" class="badge badge-secondary badge-pill">'+ data.total_items +'</span>'

            //console.log(data);

            setTimeout(function () {
              $("#prodCart_" + id).remove();
              $('#totalCart').replaceWith(totCart)
              $('#itemsCart').replaceWith(itemsCart)
            }, 100);

            //alert("Remove");
          },
          // handle a non-successful response
          error: function (xhr, errmsg, err) {
            alert("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
            //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
        });
        return false;
      };

      // Submit email on submit
      $('.media-body').on('submit', '#form-add-cart', function(event){
        event.preventDefault();
        //console.log("form submitted!");  // sanity check
        add_cart($(this));
      });

      function add_cart(form) {
        //console.log(form.attr("action"));
        //console.log(form.serialize());
        //console.log(form.attr("method"));
        $.ajax({
          url: form.attr("action"),
          data: form.serialize(),
          type: form.attr("method"),
          dataType: 'json',
          success: function (data) {
            var totCart = '<strong id="totalCart">R$ '+ data.total_price +'</strong>'
            var itemsCart = '<span id="itemsCart" class="badge badge-secondary badge-pill">'+ data.total_items +'</span>'
            var itemCart = ''+
            '<li id="prodCart_'+ data.product_id +'" class="list-group-item d-flex justify-content-between lh-condensed">'+
              '<div>'+
                '<h6 class="my-0">'+ data.product_name +'</h6>'+
                '<small class="text-muted">'+
                  'x'+ data.quantity +' - R$ '+ data.quantity * data.price +''+
                '</small>'+
              '</div>'+
              '<span id="removeCart" class="text-muted">'+
                '<button id="removeItem_'+ data.product_id +'" type="submit" class="btn btn-outline-danger btn-sm btn-circle delete_button">'+
                  '<span class="fa fa-minus"></span>'+
                '</button>'+
              '</span>'+
            '</li>'

            //console.log(data);

            setTimeout(function () {
              if ($('#prodCart_'+data.product_id).length > 0) {
                $('#prodCart_'+data.product_id).replaceWith(itemCart)
              } else {
                $('#myCart').prepend(itemCart)
              }
              $('#totalCart').replaceWith(totCart)
              $('#itemsCart').replaceWith(itemsCart)
            }, 100);

            //$("#book-table tbody").html(data.html_book_list);  // <-- Replace the table body
            //`$("#modal-book").modal("hide");  // <-- Close the modal
            //alert("Add");
          },
          // handle a non-successful response
          error: function (xhr, errmsg, err) {
            alert("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
            //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
        });
        return false;
      };

      // This function gets cookie with a given name
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      /*
      The functions below will create a header with csrftoken
      */

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          // or any other URL that isn't scheme relative or absolute i.e relative.
          !(/^(\/\/|http:|https:).*/.test(url));
      }

      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>

    {% block extra_js %}
    {% endblock extra_js %}

  </body>
</html>
