{% load static bootstrap4 %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Peça Delivery</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-delivery flex-md-nowrap shadow">
    {% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light"> {% endcomment %}
      <a class="navbar-brand" href="#">Peça Delivery</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% block orders_active %}{% endblock %}" href="{% url 'app:orders' store.slug %}">
              <span data-feather="download"></span>
              Pedidos {% block orders_current %}{% endblock %}
            </a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link {% block meals_active %}{% endblock %}" href="#">
              <span data-feather="book-open"></span>
              Cardápio {% block meals_current %}{% endblock %}
            </a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% block dashboard_active %}{% endblock %}" href="{% url 'app:dashboard' store.slug %}">
              <span data-feather="bar-chart-2"></span>
              Estatística {% block dashboard_current %}{% endblock %}
            </a>
          </li>

          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span data-feather="settings"></span>
              Administrar
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">
                <span data-feather="edit"></span>
                Dados da Empresa
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="clock"></span>
                Horário de Entrega
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="map"></span>
                Área de Entrega
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="credit-card"></span>
                Pagamento na Entrega
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="dollar-sign"></span>
                Pagamento Online
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="check-square"></span>
                Pesquisa de Satisfação
              </a>
              <a class="dropdown-item" href="#">
                <span data-feather="users"></span>
                Usuários
              </a>
              <a class="dropdown-item disabled" href="#">
                <span data-feather="printer"></span>
                Impressoras
              </a>
            </div>
          </li> {% endcomment %}
        </ul>
        {% comment %} <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">
              <span data-feather="log-out"></span>
              Sair
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% comment %} <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Peça Delivery</a>
      <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sair</a>
        </li>
      </ul>
    </nav> {% endcomment %}

    <div class="container-fluid">
      <div class="row">

        {% comment %} <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% block orders_active %}{% endblock %}" href="{% url 'app:orders' %}">
                  <span data-feather="download"></span>
                  Pedidos {% block orders_current %}{% endblock %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block meals_active %}{% endblock %}" href="#">
                  <span data-feather="book-open"></span>
                  Cardápio {% block meals_current %}{% endblock %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block dashboard_active %}{% endblock %}" href="{% url 'app:dashboard' %}">
                  <span data-feather="bar-chart-2"></span>
                  Estatística {% block dashboard_current %}{% endblock %}
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Administrar</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="settings"></span>
                  Dados da Empresa
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="clock"></span>
                  Horário de Entrega
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="map"></span>
                  Área de Entrega
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="credit-card"></span>
                  Pagamento na Entrega
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="dollar-sign"></span>
                  Pagamento Online
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="check-square"></span>
                  Pesquisa de Satisfação
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Usuários
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="printer"></span>
                  Impressoras
                </a>
              </li>
            </ul>
          </div>
        </nav> {% endcomment %}

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">

        {% block main %}

        {% endblock main %}

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-csrf.js' %}"></script>
    {% bootstrap_javascript %}

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    {% block js_bottom %}

    {% endblock js_bottom %}

  </body>
</html>
