{% extends "app/base.html" %} {% load static bootstrap4 %} 
{% block dashboard_active %} active{% endblock dashboard_active %} 
{% block dashboard_current %}<span class="sr-only">(current)</span>{% endblock dashboard_current %} 
{% block main %} 
{% comment %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Estatística</h1>
  {% endcomment %} {% comment %}
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
  {% endcomment %} {% comment %}
</div>
{% endcomment %}

<div class="row pt-3 mt-3">
  <div class="col-sm-4">
    <h5>Pedidos</h5>
    <div class="card text-primary bg-white mb-5 box-shadow border">
      <div class="card-body">
        <h2 class="card-title text-center mb-0">4</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h5>Receita</h5>
    <div class="card text-primary bg-white mb-5 box-shadow border">
      <div class="card-body">
        <h2 class="card-title text-center mb-0">R$ 178,80</h2>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <h5>Ticket Médio</h5>
    <div class="card text-primary bg-white mb-5 box-shadow border">
      <div class="card-body">
        <h2 class="card-title text-center mb-0">R$ 44,70</h2>
      </div>
    </div>
  </div>
</div>

<h5>Receita por dia</h5>
<div class="card bg-white mb-5 box-shadow border">
  <div class="card-body">
    <canvas
      class="my-4 w-100"
      id="revenueDayChart"
      width="900"
      height="220"
    ></canvas>
  </div>
</div>

<h5>Pedidos por dia</h5>
<div class="card bg-white mb-5 box-shadow border">
  <div class="card-body">
    <canvas
      class="my-4 w-100"
      id="orderDayChart"
      width="900"
      height="220"
    ></canvas>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h5>Clientes novos e recorrentes</h5>
    <div class="card bg-white mb-5 box-shadow border">
      <div class="card-body">
        <canvas
          class="my-4 w-100"
          id="customersChart"
          width="900"
          height="520"
        ></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h5>Formas de Pagamento</h5>
    <div class="card bg-white mb-5 box-shadow border">
      <div class="card-body">
        <canvas
          class="my-4 w-100"
          id="paymentChart"
          width="900"
          height="520"
        ></canvas>
      </div>
    </div>
  </div>
</div>

{% endblock main %} {% block js_bottom %} {{ block.super }}
<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="{% static 'assets/js/chart-utils.js' %}"></script>
<script>
  var color = Chart.helpers.color;
  var ctx = document.getElementById("customersChart");
  var paymentChart = new Chart(ctx, {
    type: "pie",
    data: {
      datasets: [
        {
          data: [3, 1],
          backgroundColor: [window.chartColors.blue, window.chartColors.red],
          label: "",
        },
      ],
      labels: ["Novo", "Recorrente"],
    },
    options: {
      responsive: true,
      animation: {
        animateScale: true,
        animateRotate: true,
      },
    },
  });

  var ctx = document.getElementById("paymentChart");
  var paymentChart = new Chart(ctx, {
    type: "doughnut",
    data: {
      datasets: [
        {
          data: [1, 2, 1],
          backgroundColor: [
            window.chartColors.green,
            window.chartColors.red,
            window.chartColors.yellow,
          ],
          label: "",
        },
      ],
      labels: ["Dinheiro", "Mastercard", "Visa"],
    },
    options: {
      responsive: true,
      animation: {
        animateScale: true,
        animateRotate: true,
      },
    },
  });

  var ctx = document.getElementById("revenueDayChart");
  var revenueDayChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["19/07", "20/07", "21/07", "22/07", "23/07", "24/07", "25/07"],
      datasets: [
        {
          data: [0.0, 45.0, 15.0, 0.0, 60.0, 0.0, 30.0],
          backgroundColor: color(window.chartColors.green)
            .alpha(0.5)
            .rgbString(),
          borderColor: window.chartColors.green,
          borderWidth: 2,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
            },
          },
        ],
      },
      legend: {
        display: false,
      },
    },
  });

  var ctx = document.getElementById("orderDayChart");
  var orderDayChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["19/07", "20/07", "21/07", "22/07", "23/07", "24/07", "25/07"],
      datasets: [
        {
          data: [0, 2, 0, 0, 1, 0, 1],
          backgroundColor: color(window.chartColors.yellow)
            .alpha(0.5)
            .rgbString(),
          borderColor: window.chartColors.yellow,
          borderWidth: 2,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: false,
            },
          },
        ],
      },
      legend: {
        display: false,
      },
    },
  });
</script>
{% endblock js_bottom %}
