<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% block orders_active %}{% endblock %}" href="{% url 'app:orders' %}">
          <span data-feather="download"></span>
          Pedidos {% block orders_current %}{% endblock %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block meals_active %}{% endblock %}" href="#">
          <span data-feather="book-open"></span>
          Cardápio {% block meals_current %}{% endblock %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% block dashboard_active %}{% endblock %}" href="{% url 'app:dashboard' %}">
          <span data-feather="bar-chart-2"></span>
          Estatística {% block dashboard_current %}{% endblock %}
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Administrar</span>
      {% comment %} <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a> {% endcomment %}
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="settings"></span>
          Dados da Empresa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="clock"></span>
          Horário de Entrega
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="map"></span>
          Área de Entrega
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="credit-card"></span>
          Pagamento na Entrega
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="dollar-sign"></span>
          Pagamento Online
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-square"></span>
          Pesquisa de Satisfação
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="users"></span>
          Usuários
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="printer"></span>
          Impressoras
        </a>
      </li>
    </ul>
  </div>
</nav>
