{% extends "app/base.html" %}

{% load static bootstrap4 %}

{% block orders_active %} active{% endblock orders_active %}

{% block orders_current %}<span class="sr-only">(current)</span>{% endblock orders_current %}

{% block main %}
<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Pedidos</h1>
</div> -->

<div class="row pt-3 mt-3">
  <div class="col-md-5 mb-4">
    {% block orders_list %}
      {% include 'app/orders-list.html' %}
    {% endblock orders_list %}
  </div>
  <div class="col-md-7">
    <div class="card bg-white mb-5 box-shadow border">
      <div class="card-body">
        {% if order.pk > 0 %}
        <h5>
          Pedido #{{ order.pk }}&numsp;
          <small id="status-order_{{ order.pk }}" class="text-uppercase font-weight-bold {% if order.status == 0 %}text-danger{% elif order.status == 1 %}text-success{% elif order.status == 2 %}text-info{% elif order.status == 3 %}text-primary{% elif order.status == 4 %}text-secondary{% endif %}">
            {{ order.get_status_display }}
          </small>
        </h5>
        {% comment %} # TODO: Mudar o method das actions para POST {% endcomment %}
        {% comment %} <form action="{% url 'cart:cart_add' product.id %}" method="POST" id="form-add-cart"> {% endcomment %}
        <button id="acceptOrder_{{ order.pk }}" type="submit" class="btn btn-success btn-rounded px-5 py-2 text-uppercase mb-3 mr-3 font-weight-bold" style="display: none">
          Aceitar
        </button>
        {% comment %} </form> {% endcomment %}
        <button id="rejectOrder_{{ order.pk }}" type="submit" class="btn btn-outline-secondary btn-rounded px-5 py-2 text-uppercase mb-3 font-weight-bold" style="display: none">
          Recusar
        </button>
        <button id="transitOrder_{{ order.pk }}" type="submit" class="btn btn-info btn-rounded px-5 py-2 text-uppercase mb-3 font-weight-bold" style="display: none">
          Marcar como em trânsito
        </button>
        <button id="deliveredOrder_{{ order.pk }}" type="submit" class="btn btn-primary btn-rounded px-5 py-2 text-uppercase mb-3 font-weight-bold" style="display: none">
          Marcar como entregue
        </button>
        <div class="row">
          <div class="col-sm-8">
            <span class="text-muted">Cliente:</span> {{ order.first_name }} {{ order.last_name }}
          </div>
          <div class="col-sm-4 text-right">
            {{ order.created|date:"d/m/Y H:i" }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <span class="text-muted">Endereço:</span> {{ order.address }}{% if order.address2 %}, {{ order.address2 }}{% endif %}
          </div>
          <div class="col-sm-4 text-right">
            {% comment %} <a href="#" class="text-uppercase">Detalhes</a> {% endcomment %}
          </div>
        </div>

        <div class="table-responsive border rounded my-3">
          <table class="table table-note m-0">
            <thead>
              <tr>
                <th>Qtd.</th>
                <th>Item</th>
                <th class="text-right">Preço</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order.orders_order_item.all %}
              <tr>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product }}</td>
                <td class="text-right">R$ {{ item.get_cost }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <span class="text-muted">Forma de pagamento:</span> {{ order.payment }}
            <br>
            {% if order.payment|lower == 'dinheiro' %}
            <span class="text-muted">Valor do troco:</span> {% if order.no_change %}Sem troco{% else %}{{ order.change }}{% endif %}
            {% endif %}
          </div>
          <div class="col-sm-4 text-right">
            <span class="text-muted">Total:</span>
            <span class="total">R$ {{ order.get_total_cost }}</span>
          </div>
        </div>
        {% else %}
        <h5>
          Selecione um pedido.
        </h5>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock main %}

{% block js_bottom %}
{{ block.super }}
<script>
  $(".box-clickble").click(function() {
    window.location = $(this).attr("data-url");
    return false;
  });

  $( document ).ready( function() {
    {% if order.status == 0 %}
      //Verificar
      $('#acceptOrder_{{ order.pk }}').css('display', 'inline');
      $('#rejectOrder_{{ order.pk }}').css('display', 'inline');
      $('#transitOrder_{{ order.pk }}').css('display', 'none');
      $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
    {% elif order.status == 1 %}
      //Aprovado
      $('#acceptOrder_{{ order.pk }}').css('display', 'none');
      $('#rejectOrder_{{ order.pk }}').css('display', 'none');
      $('#transitOrder_{{ order.pk }}').css('display', 'inline');
      $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
    {% elif order.status == 2 %}
      //Trânsito
      $('#acceptOrder_{{ order.pk }}').css('display', 'none');
      $('#rejectOrder_{{ order.pk }}').css('display', 'none');
      $('#transitOrder_{{ order.pk }}').css('display', 'none');
      $('#deliveredOrder_{{ order.pk }}').css('display', 'inline');
    {% else %}
      //Entregue e Recusado
      $('#acceptOrder_{{ order.pk }}').css('display', 'none');
      $('#rejectOrder_{{ order.pk }}').css('display', 'none');
      $('#transitOrder_{{ order.pk }}').css('display', 'none');
      $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
    {% endif %}
  });

  // Accept element
  $('#acceptOrder_{{ order.pk }}').click(function(event){
    event.preventDefault();
    order_action('{{ order.pk }}', 'accept');
  });

  // Reject element
  $('#rejectOrder_{{ order.pk }}').click(function(event){
    event.preventDefault();
    order_action('{{ order.pk }}', 'reject');
  });

  // Transit element
  $('#transitOrder_{{ order.pk }}').click(function(event){
    event.preventDefault();
    order_action('{{ order.pk }}', 'transit');
  });

  // Delivered element
  $('#deliveredOrder_{{ order.pk }}').click(function(event){
    event.preventDefault();
    order_action('{{ order.pk }}', 'delivered');
  });

  function order_action(id, action) {
    $.ajax({
      url: "{% url 'app:order_action' store.slug order.pk %}?a=" + action,
      method: 'GET',
      success: function (data) {
        if (action == 'accept') {
          $('#status-list_{{ order.pk }}').removeClass('text-danger');
          $('#status-list_{{ order.pk }}').addClass('text-success');
          $('#status-list_{{ order.pk }}').text('Aprovado');
          $('#status-order_{{ order.pk }}').removeClass('text-danger');
          $('#status-order_{{ order.pk }}').addClass('text-success');
          $('#status-order_{{ order.pk }}').text('Aprovado');
          $('#acceptOrder_{{ order.pk }}').css('display', 'none');
          $('#rejectOrder_{{ order.pk }}').css('display', 'none');
          $('#transitOrder_{{ order.pk }}').css('display', 'inline');
          $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
        } else if (action == 'transit') {
          $('#status-list_{{ order.pk }}').removeClass('text-success');
          $('#status-list_{{ order.pk }}').addClass('text-info');
          $('#status-list_{{ order.pk }}').text('Trânsito');
          $('#status-order_{{ order.pk }}').removeClass('text-success');
          $('#status-order_{{ order.pk }}').addClass('text-info');
          $('#status-order_{{ order.pk }}').text('Trânsito');
          $('#acceptOrder_{{ order.pk }}').css('display', 'none');
          $('#rejectOrder_{{ order.pk }}').css('display', 'none');
          $('#transitOrder_{{ order.pk }}').css('display', 'none');
          $('#deliveredOrder_{{ order.pk }}').css('display', 'inline');
        } else if (action == 'delivered') {
          $('#status-list_{{ order.pk }}').removeClass('text-info');
          $('#status-list_{{ order.pk }}').addClass('text-primary');
          $('#status-list_{{ order.pk }}').text('Entregue');
          $('#status-order_{{ order.pk }}').removeClass('text-info');
          $('#status-order_{{ order.pk }}').addClass('text-primary');
          $('#status-order_{{ order.pk }}').text('Entregue');
          $('#acceptOrder_{{ order.pk }}').css('display', 'none');
          $('#rejectOrder_{{ order.pk }}').css('display', 'none');
          $('#transitOrder_{{ order.pk }}').css('display', 'none');
          $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
        } else {
          //reject
          $('#status-list_{{ order.pk }}').removeClass('text-danger');
          $('#status-list_{{ order.pk }}').addClass('text-secondary');
          $('#status-list_{{ order.pk }}').text('Recusado');
          $('#status-order_{{ order.pk }}').removeClass('text-danger');
          $('#status-order_{{ order.pk }}').addClass('text-secondary');
          $('#status-order_{{ order.pk }}').text('Recusado');
          $('#acceptOrder_{{ order.pk }}').css('display', 'none');
          $('#rejectOrder_{{ order.pk }}').css('display', 'none');
          $('#transitOrder_{{ order.pk }}').css('display', 'none');
          $('#deliveredOrder_{{ order.pk }}').css('display', 'none');
        }
        console.log(action);
        //console.log("Transit");
      },
      // handle a non-successful response
      error: function (xhr, errmsg, err) {
        alert("Oops! Nós encontramos um erro: " + errmsg); // add the error to the dom
        //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
    return false;
  };
</script>
{% endblock js_bottom %}
