{% block orders_list %}
<ul class="list-group mb-3 box-shadow">
  <li class="list-group-item d-flex justify-content-between lh-condensed">
    <div>
      <h5 class="text-muted mt-2"><b>{{ orders|length }}&numsp;</b> PEDIDOS EM ABERTO</h5>
    </div>
    {% comment %} <span class="text-muted feather-24 mt-2" data-feather="phone"></span> {% endcomment %}
  </li>
  {% for item in orders %}
  <li class="list-group-item d-flex justify-content-between lh-condensed box-clickble{% if order.pk == item.pk %} active{% endif %}" data-url="{% url 'app:order_items' store.slug item.pk %}">
    <div class="container row">
      <div class="col-md-3">
        <h6 class="my-0">#{{ item.pk }}</h6>
        <small>{{ item.created|date:"H:i" }}</small>
      </div>
      <div class="col-md-9">
        <h6 class="my-0">{{ item.first_name }} {{ item.last_name }}</h6>
        <small>R$ {{ item.get_total_cost }}</small>
      </div>
    </div>
    <span id="status-list_{{ item.pk }}" class="text-uppercase font-weight-bold {% if item.status == 0 %}text-danger{% elif item.status == 1 %}text-success{% elif item.status == 2 %}text-info{% elif item.status == 3 %}text-primary{% elif item.status == 4 %}text-secondary{% endif %}">
      {{ item.get_status_display }}
    </span>
  </li>
  {% endfor %}
  {% comment %} <li class="list-group-item d-flex justify-content-between lh-condensed box-clickble" data-url="#">
    <div class="container row">
      <div class="col-md-3">
        <h6 class="my-0">#1202</h6>
        <small>10:12</small>
      </div>
      <div class="col-md-9">
        <h6 class="my-0">Nome da Pessoa</h6>
        <small>R$ 60,00</small>
      </div>
    </div>
    <span class="text-success text-uppercase"><b>Aprovado</b></span>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed box-clickble" data-url="#">
    <div class="container row">
      <div class="col-md-3">
        <h6 class="my-0">#1201</h6>
        <small>10:12</small>
      </div>
      <div class="col-md-9">
        <h6 class="my-0">Nome da Pessoa</h6>
        <small>R$ 15,00</small>
      </div>
    </div>
    <span class="text-primary text-uppercase"><b>Entregue</b></span>
  </li>
  <li class="list-group-item d-flex justify-content-between lh-condensed box-clickble" data-url="#">
    <div class="container row">
      <div class="col-md-3">
        <h6 class="my-0">#1200</h6>
        <small>11:01</small>
      </div>
      <div class="col-md-9">
        <h6 class="my-0">Nome da Pessoa</h6>
        <small>R$ 45,00</small>
      </div>
    </div>
    <span class="text-primary text-uppercase"><b>Entregue</b></span>
  </li> {% endcomment %}
</ul>
{% endblock orders_list %}
