{% if page_obj %}

  <nav aria-label="Page navigation" class="pt-5">
    <ul class="pagination justify-content-center">

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Anterior</a>
        </li>
      {% endif %}

      {% if page_obj.number|add:'-4' > 1 %}
        <li class="page-item">
          <a class="page-link text-success" href="?page={{ page_obj.number|add:'-5' }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&hellip;</a>
        </li>
      {% endif %}

      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <a class="page-link bg-success" href="#" style="border-color: #28a745;">{{ i }}</a>
          </li>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li class="page-item">
            <a class="page-link text-success" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li class="page-item">
          <a class="page-link text-success" href="?page={{ page_obj.number|add:'5' }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&hellip;</a>
        </li>
      {% endif %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Próxima</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Próxima</a>
        </li>
      {% endif %}

    </ul>
  </nav>

{% endif %}

